section {
	text-align: center;
	padding: 2px;
}

button {
	margin-top: 20px;
}

.hidden {
	opacity: 0;
	transition: opacity 10s ease-in-out 10s;
    moz-transition: opacity 10s ease-in-out 10s;
   -webkit-transition: opacity 10s ease-in-out 10s;
}

.visible {
	opacity: 1;
}

